<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <!-- Push SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".database.MyContentProvider"
            android:authorities="com.example.myandroid"
            android:exported="true" >
        </provider>

        <activity
            android:name="SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity" >
        </activity>
        <activity android:name=".nfc.NfcCardReader" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="MainFragmentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="MainFragmentActivity1"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="ViewPagerFragmentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name=".user.RegisterActivity" >
        </activity>
        <activity android:name=".user.LoginActivity" >
        </activity>

        <receiver android:name=".push.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.pushservice.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.push.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.PushService" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.bmob.push.PushReceiver"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="MainSlidingActivity"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="MainActionBarActivity" >
        </activity>
        <activity
            android:name="MyCanvasActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="TestScrollerActivity" >
        </activity>
        <activity android:name="BounceListViewTestActivity" >
        </activity>
        <activity android:name=".activity.TooltipsActivity" >
        </activity>
    </application>

</manifest>